body
{
  color: white;
  background: #f6ffc0;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 10px line black;
  width: 350px;
  height: 300px; 
}
#resultEmotionName ,#resultEmotionName2  
{
  color: black;
}
.emotionName
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

/* Vamos dar estilo a classe heading */
.heading
{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
  font-family: 'Montserrat', sans-serif; 
  font-weight: bolder;
}

/* a adicione CSS para a label,  será aplicado a todos os elementos da label */
label
{
    font-size: 14px;
    color: green;
    padding: 6px;
    border-radius: 10px;
    background-color: white;

}

